.dot {
  position: absolute;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.1rem solid #3d567b;
  color: #3d567b;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.15rem;
  font-weight: 500;

  transition: all 500ms ease-out;
}

.dot:hover {
  background-color: #cfdee7;
}

.check:checked ~ .dot {
  /* background-color: #4e617e; */
  background-color: #539cea;
  color: #fdfdfc;
  border: 0;
  text-shadow: 0.5px 0 0 #1466b8, -0.5px 0 0 #1466b8;
  /* color: #cfdee7; */
}

.active {
  opacity: 1;
  pointer-events: all;
}

.deactive {
  opacity: 0;
  pointer-events: none;
}

.check {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.godPartnerOut {
}
